.tecnologias {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    object-fit: cover;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
}
