body{
  margin:0;
  font-family:Arial;
  background:#f4f4f4;
}

header{
  background:green;
  color:white;
  text-align:center;
  padding:40px;
}

nav{
  background:#145214;
  padding:15px;
  text-align:center;
}

nav a{
  color:white;
  margin:10px;
  text-decoration:none;
  font-weight:bold;
}

.banner{
  background:url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854?q=80&w=1400');
  background-size:cover;
  background-position:center;
  height:300px;

  display:flex;
  justify-content:center;
  align-items:center;

  color:white;
  font-size:40px;
  font-weight:bold;
}

section{
  padding:40px;
}

.cards{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  justify-content:center;
}

.card{
  background:white;
  width:300px;
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.card h3,
.card p{
  padding:10px;
}

.videos{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  justify-content:center;
}

.artigo{
  background:white;
  padding:20px;
  margin-top:20px;
  border-left:5px solid green;
}

.ia-box{
  text-align:center;
}

button{
  background:green;
  color:white;
  border:none;
  padding:15px 25px;
  border-radius:8px;
  cursor:pointer;
  font-size:18px;
}

button:hover{
  background:#1f7a1f;
}

footer{
  background:#145214;
  color:white;
  text-align:center;
  padding:20px;
}
